@import "variables.css";

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Times New Roman", serif;
}

/* --- Page Home --- */
.hero-image-wrapper {
  position:relative;
  width: 600px;
  height: 600px;
  margin-bottom: 20px;
}

.img-logo {
  border-radius: 60px;
}